{% extends 'layout.html' %}
{% block body%}

<div class="col-md-4 offset-md-4">
    <div class="card card-body">

        <form action="/update/{{ dato.0 }}" method="POST" enctype = "multipart/form-data">

            <div class="form-group">
                <input type="text" name="nombre" placeholder="nombre" value=" {{ dato.2 }}" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="text" name="modelo" placeholder="modelo" value=" {{ dato.3 }}" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="num" name="unidades" placeholder="unidades" value=" {{ dato.4 }}" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="num" name="precio" placeholder="precio" step="0.01" value=" {{ dato.5 }}" class="form-control" required>
            </div>
            <div class="form-group">
                    <p>{{ dato.1 }}</p>
                    <input type="file" name="imagen" value= "{{ dato.1 }}" class="form-control">
                </div>
            <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Save</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}