{% extends 'layout.html' %}
{% block body%}



<div class="row">
    <div class="col-md-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="card card-body">
            <form action="/add" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" name="nombre" placeholder="nombre" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="text" name="modelo" placeholder="modelo" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="number" name="unidades" placeholder="unidades" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="number" name="precio" placeholder="precio" step="0.01" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="file" name="imagen">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">GUARDAR</button>
                </div>
            </form>

        </div>
    </div>
    <div class="col-md-7 h-25 d-25">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>Imagen</td>
                    <td>Nombre</td>
                    <td>Modelo</td>
                    <td>Unidades</td>
                    <td>Precio(unidad)</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                {% for h in hardware %}
                <tr>
                    <td class="text-center">
                        <img class="w-75 h-50 img-thumbnail" src="/static/images/{{ h.1 }}" alt=""></td>
                    <td>{{ h.2 }}</td>
                    <td>{{ h.3 }}</td>
                    <td>{{ h.4 }}</td>
                    <td>{{ h.5 }}</td>
                    <td>
                        <a href="/edit/{{h.0}}" class="btn btn-secondary btn-block">EDITAR </a>
                        <a href="/delete/{{h.0}}" class="btn btn-danger btn-delete btn-block">BORRAR</a>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    {% for p in precio %}
                    <td>precio total: </td>
                    <td></td>
                    <td></td>
                    <td>{{ precio.0 }}</td>
                    {% endfor %}
                    <td></td>
                    <td></td>
                </tr>

            </tbody>

        </table>
        <div class="card card-body">
            <a href="/presupuesto" class="btn btn-primary btn-block">PRESUPUESTO</a>
        </div>
    </div>

</div>



{% endblock %}