{% extends 'layout.html' %}
{% block body%}

<div class="col-md-4 offset-md-4">
    <div class="card card-body">

        <h4 class="text-center">Chatarralist v1</h4>
        <p></p>         
        <p>Aplicación web para generar un presupuesto de compra</p>
        <p>Programada con Flask y MariaDB </p>
        <p></p>
        <h6>autor: Jose Luis Sánchez Escoda</h6>
        <p>Julio 2019</p>

    </div>
</div>
{% endblock %}