{% extends 'layout.html' %}
{% block body%}

<div class="col-md-6 offset-md-3">



    <table class="table table-striped table-bordered bg-white table-sm">
        <thead>
            <tr>
                <td>Imagen</td>
                <td>Nombre</td>
                <td>Modelo</td>
                <td>Unidades</td>
                <td>Precio(unidad)</td>

            </tr>
        </thead>
        <tbody>
            {% for h in hardware %}
            <tr>
                <td class="text-center">
                    <img class="w-75 h-50 img-thumbnail" src="/static/images/{{ h.1 }}" alt="">
                </td>
                <td>{{ h.2 }}</td>
                <td>{{ h.3 }}</td>
                <td>{{ h.4 }}</td>
                <td>{{ h.5 }}</td>

            </tr>
            {% endfor %}
            <tr>
                {% for p in precio %}
                <td>precio total: </td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ precio.0 }}</td>
                {% endfor %}


            </tr>

        </tbody>

    </table>
    <div class="card card-body">
        <a href="/pdf" class="btn btn-primary btn-block">IMPRIMIR</a>
    </div>
</div>
{% endblock %}